/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

nav {
  background-color: #0fb9b1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 200px;
  display: inline-flex;
  padding-left: 10px;
}

button {
  display: inline-flex;
  padding: 10px;
  border: none;
  border-radius: 3px;
  text-align: center;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  background-image: url(/Users/steph/turing/mod1/projects/whats-for-dinner/assets/burger-friends.jpg);
  background-size: cover;
  /* position:relative;
  z-index: 1; */
}

.dish-selection-box {
  font-family: 'Roboto', sans-serif;
  height: 300px;
  width: 350px;
  background-color: white;
  opacity: 0.75;
  border: none;
}

.radio-buttons {
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
}

.cook-pot-box {
  display: flex;
  justify-content: space-around;
  height: 300px;
  width: 350px;
  background-color: white;
  opacity: 0.75;
  border: none;
}

.cook-pot-image {
  max-height: 100px;
  max-width: 100px;
  /* border: 1px solid black; */
  padding: 100px;
}

.recipe-building-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 200px;
}
h2 {
  /* border: 1px solid black; */
  text-align: center;
  padding-top: 40px;
}
